<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <p>Team Name: <%=@teaminfo["name"]%></p>
    <p>Coach: <%=@teaminfo["coach"]%></p>
    <p>Point Guard: <%=@teaminfo["pg"]%></p>
    <p>Shooting Guard: <%=@teaminfo["sg"]%></p>
    <p>Power Forward: <%=@teaminfo["pf"]%></p>
    <p>Small Forward: <%=@teaminfo["sf"]%></p>
    <p>Center: <%=@teaminfo["c"]%></p>
 
 </body>
</html>


