<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
 <h1>Team Name: <%= @team_info.values[0] %> </h1>
 <h2>Coach: <%= @team_info.values[1] %> </h2>
 <h2>Point Guard: <%= @team_info.values[2] %> </h2>
 <h2>Shooting Guard: <%= @team_info.values[3] %> </h2>
 <h2>Power Forward: <%= @team_info.values[4] %> </h2>
 <h2>Small Forward: <%= @team_info.values[5] %> </h2>
 <h2>Center: <%= @team_info.values[6] %> </h2>


 </body>
</html>


